<nav>
	<h1>RN2 OnAir Music List</h1>
</nav>
<section id="now-onair">
	<h2>Now OnAir ...</h2>
	<p id="now-onair__music-info"></p>
</section>
<section id="past-onair">
	<h2>Past OnAir List</h2>
</section>